.App {
  text-align: center;
}
.body{
  max-height: 100vh !important;
  
  
}
.ant-layout-content{
  min-height: 87vh !important;
}

.cardEffect{
  animation: bobble 2s infinite;
}
@keyframes bobble{
    0% {
        transform: translate3d(20px, 10px, 0px);
        animation-timing-function: ease-in;
    }
    50% {
        transform: translate3d(20px, 20px, 0px);
        animation-timing-function: ease-out;
    }
    100% {
        transform: translate3d(20px, 10px, 0px);
    }
}


.site-layout-content {
  min-height: 280px;
  padding: 24px;
  background: rgba(255, 255, 255, 0.75) !important;
  max-width: 600px;
  margin: auto;
 
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.ant-layout {
  background: none;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  background-color:#656464;
}

.ant-layout-header {
  height: 64px;
  padding: 0 50px !important;
  line-height: 64px;
  background: white  !important;
}
.ant-layout-footer{
  background: #656464 !important;
  justify-content: center;
  font-weight: 600px;
 
 
  
  
  
  
}
.ant-card-body {
  padding: inherit !important;
}
.App-link {
  color: #61dafb;
}
.ant-list-bordered {
  border: 2px solid white;
}

.ant-list-item {
  cursor: pointer;
}
.ant-card-hoverable {
  cursor: default !important;
  transition: box-shadow 0.3s, border-color 0.3s;
}


.search:hover{
  filter: invert(20%);
}
.icon:hover {
  filter: invert(20%);
}

.ant-menu-horizontal {
  border-bottom: none;
  background: none  !important;
}

.alignColumn{
  display: flex;
  align-items: center;
  flex-direction: column;

}

.welcome {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  margin-right: 2px;
  margin-bottom: 10px;
  padding-bottom: 50px;
  white-space: nowrap;
  /* overflow: hidden; */
  overflow: ellipsis;
}


